* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: normal;
    font-size: 2.25rem;
}
.cards{
    grid-template-columns: 1fr 1fr 1fr;
    display: grid;
    gap: 1rem;
}
.articleBg{
    background-color: #ebebeb;
    padding: 30px 30px 100px 30px;
    display: flex;
    flex-direction: column;
}
p{
    padding-bottom: 30px;
    flex-grow: 1;
}
a.button:link{
    color: white;
    background-color: #007bc7;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 24px;
}
a.button:visited{
    color:white
}
a.button:hover{
    background-color: #004b7c;

}