
*{
    margin: 0;
}

.navBar{
    background-color: #DBE1E1;
    min-height: 5rem;
    display: flex;
    justify-content: end;
    align-items: center;
}

.navBar__items{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    margin-right: 2rem;
    gap: 2rem;
}

.navBar__item{
    text-decoration: none;
    color: black;
}


main{
    padding-top: 1rem;
    background-color: #5FD0C7;
    display: flex;
    flex-direction: column;
}

.welcome{
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-self: center;
    padding: 1rem;
    gap: 40px;
    background-color: #52B7AE;
    border-radius: 6px;
    width: fit-content; 
    margin: 1rem;
    align-items: center;
}

.examples{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    justify-content: center;
    gap: 10rem;
    margin: 7rem 15rem 0 15rem;
    container-type: inline-size;
}

/* Media query for smaller screens */
@container (max-width: 1074px) {
    .example {
        grid-template-columns: 1fr; /* Stack items in a single column on smaller screens */
        gap: 5rem; /* Further reduce the gap */
        padding: 2rem 2vw; /* Adjust padding for a narrower screen */
    }
}





.example{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 13px;
    border-radius: 6px;
    background-color: #A47ADF;
}

.example__text{
    margin-top: 1.5rem;
}

.example__img{
    max-width: 90%;
    padding: 1em;
}

.btn{
    background-color: #52B7AE;
    border: solid #DBE1E1;
    border-radius: 6px;
    align-self: center;
    text-decoration: none;
    color: black;
    font-size: 2em;
    padding: 2rem;
    margin: 4em;
}

.extraInfo{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DBE1E1;
    min-height: 7rem;
}

.extraInfo__items{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    margin-right: 2rem;
    gap: 2rem;
}

.extraInfo__item{
    text-decoration: none;
    color: black;
}