/*fjerner deafult styling af ul */
.navlist1 {
    padding: 0;
    margin-left: 0;
    display: flex;
    align-items: flex-end;
    justify-content: left;
    list-style: none;
    gap: 1em;
    font-family: Arial, Helvetica, sans-serif;
    size: 40px;
}

.DR-icon{
width: 65px;
height: 65px;

margin-top: 20px;
}


.navlink{
    text-decoration: none;
}

.navlink:visited {
    color: black;
}
.navlink:hover {
    */nothing
}
.navlink:focus {
   color: black;
   font-weight: bold;
  
   border-bottom:solid;
   padding-bottom: 10px;
   border-width: 4px;
}

.navlink:active {
    color: black;

}
.navlink {
    
}


.link{
    background-color: #1586CC;
    color: white;
    padding: 15px 40px;
    border-radius: 25px;
    align-items: center;
    size: 14px;
   
}
.link:visited {
    background-color: #1586CC;
    color: white;
    padding: 15px 40px;
    border-radius: 25px;
    align-items: center;
    size: 14px;
}
.link:hover{
     background-color: #065F97;
transition  : background-color 0.5s ;
    color: white;
    padding: 15px 40px;
    border-radius: 25px;
    align-items: center;
    size: 14px;
}