body,
html {
    width: 1500px;
    padding-top: 0%;
    border: 20px;
    margin: 20px;
   
    
}

.active{
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

.navList {
    display: flex;
    gap: 2%;
}

p{
    line-height: 1.4;

}

a {
outline-color: black;
}

a:link {
color: black;
}

a:visited{
   color: black; 
}

a:focus {
text-decoration: none;
background: #ffffff00;

}

a:hover {
text-decoration: none;
background: #ffffff00;
}

a:active {
background: #ffffff00;
color: #ffffff00;
}