body    {
    margin: 0;
    background: #212121;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header  {
    background-color: #085048b0;
    width: 100vw;
    height: 80px;
    backdrop-filter: blur(15px);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    position: fixed;
    z-index: 10;
    justify-content: space-around;
    align-items: center;
    container: Nav / inline-size;
}
header  img {
    height: 50px;
}

.Head__Content  {
    display: flex;
    max-width: 900px;
}

ul  {
    display: flex;
    gap: 4cqw;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    
}

li {
    list-style: none;
    
}

li a {
    color: #D4FF00;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 20px; 
}

li a:hover  {
    border-bottom: 2px solid #D4FF00; 
    box-shadow: 0px 15px 20px -15px rgba(212,255,0,1);
}

li  a:active    {
    border: 0px;
    background-color: #D4FF00;
    color: #085048;

}

@Container Nav (max-width: 800px){
    ul  {
        gap: 20px;
    }
    li a {
        padding: 10px 10px;
        font-size: 12px;
        font-weight: bold;
        border-radius: 20px; 
        text-transform: uppercase;
    }
}


.Hero   {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50vw;
    flex-grow: 1;
    
}

video   {
    width: 100%;
    object-fit: fill;
    height: inherit;
    margin-top: 0px;
    filter: brightness(0.4);
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;

}

.Hero img   {
    z-index: 2;
    margin-top: 15vw;
    height: 15vw;
}


.Feature__Release   {
    width: 65vw;
    min-width: min-content;
    background-color: #085048;
    display: flex;
    flex-direction: column;
    margin: 200px auto;
    box-shadow: 0 2px 12px rgb(0, 0, 0);
    border-radius: 20px;

}

.Feature__Heading   {
    padding: 0px 25px;
    margin: 0 auto;
    
}

.Feature__Release iframe    {
    padding: 0px 20px;
    width: 30vw;
    min-height: min-content;
    min-width: min-content;
    margin: 0 auto;
}


h2  {
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
}

p   {
    font-family: Arial, Helvetica, sans-serif;
}


.MusVid_Container   {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin: 0px 0 200px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0 12px black;
}

.MusVid_Box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    overflow: hidden;
    width: 100%;
}

.MusVid_Box img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.MusVid_Text    {
    position: absolute;
    top: 50%;
    color: white;
    display: flex;
    flex-direction: column;
    text-shadow: 0 4px 10px black;
    max-width: 15vw;
    margin: 0 auto;
    text-align: center;
    opacity: 0;
    transition: transform 0.5s ease;
}

.MusVid_Text p{
    margin: 0 auto;
}

.MusVid_Text h3 {
    margin: 10px auto;
    font-size: 20px;
}

.MusVid_Container .MusVid_Box {
    filter: grayscale(1);
    transition: 0.5s ease;
}

.MusVid_Container:hover .MusVid_Box {
    filter: grayscale(1) blur(2px);
    transition: 0.5s ease;
}

.MusVid_Container:hover .MusVid_Box:hover   {
    filter: none;
    transition: 0.5s ease;
    box-shadow: 0 0 4px black;
    .MusVid_Text    {
        opacity: 1;
        transform: translate(0%, -50%) scale(1);
        
        
    }
}

@media (min-width: 1100px) {
    .MusVid_Box img {
        height: 300px;
        object-position: 20% 0%;
        .MusVid_Box {
            height: 200px;
        }
    }
    
}

@media (min-width: 900px) {
    .MusVid_Box img {
        height: 300px;
        object-position: 20% 0%;
    }
}
    
@media (max-width: 900px) {
    .MusVid_Box img {
        height: 300px;
        object-position: 10% 0%;
    }
    .MusVid_Text  h3  {
        font-size: 12px;
    }
    .MusVid_Text    {
        font-size: 10px;
        top: 200px;
    }
}

@media (max-width: 700px) {
    .MusVid_Box img {
        height: 300px;
        object-position: 10% 0%;
    }
    
}


.Tour__Container    {
    width: 65vw;
    height: max-content;
    margin: 0px auto 50px;
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: 50px 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 50% 50%;
    grid-row-gap: 20px;
    height: auto;
    justify-content: flex-start;
    container: Tourtainer / inline-size;
    border: 4px solid #085048;
    border-radius: 20px;
    padding-bottom: 50px;
    box-shadow: 0 0 12px black;
}

.Tour__Container h2 {
    grid-column: 1 / span 3;
    padding-left: 20px;
}

.Tour__Container  svg  {
    width: 30px;
    height: auto;
    margin-right: 10px;
}

.Tour__Container p {
    font-size: 18px;
    margin: 0;
}

.Tour__Setlist  {
    display: flex;
    align-items: center;
    margin: 0;
    max-width: 500px;
    padding: 20px;
}

.Dates  {
    font-style: italic;
    
}

.Date_Flag  {
    background-color: #085048;
    display: flex;
    color: white;
    align-items: center;
    padding: 5px 10px;
    height: 30px;
    width: 160px;
}

.Tour__Location {
    color: #ffffff;
    padding: 5px 10px;
    max-width: 200px;
        
}

b   {
    text-transform: uppercase;
}

@Container Tourtainer  (Max-width: 880px) {
    .Date_Flag{
        height: 50px;
        width: 100px;
        text-align: center;
    }
    .Tour__Setlist  {
        font-size: 70%;
    }
    .Tour__Container  svg  {
        width: 50px;
    }
}

@Container Tourtainer  (Max-width: 800px) {
    .Date_Flag{
        height: auto;
        width: 100px;
        text-align: center;
    }
    .Tour__Setlist  {
        font-size: 70%;   
    }
    .Tour__Container  svg  {
        width: 50px;
    }
   
}

@Container Tourtainer  (Max-width: 580px) {
    .Tour__Setlist  {
        grid-column: 1 / 3;
        
    }
    .Date_Flag  {
        width: 250px;
    }
    .Tour__Container  svg  {
        width: 50px;
    }
    
}

@Container Tourtainer  (Max-width: 500px) {
    
    .Date_Flag  {
        width: 200px;
    }
    .Tour__Container  svg  {
        width: 50px;
    }
    
}

@Container Tourtainer  (Max-width: 450px) {
    .Date_Flag  {
        width: 150px;
    }
    .Tour__Container  svg  {
        width: 50px;
    }
    
}

@Container Tourtainer  (Max-width: 400px) {
    .Date_Flag  {
        width: 100px;
        height: 60px;
    }
    .Tour__Container  svg  {
        width: 40px;
    }   
}

@Container Tourtainer  (Max-width: 350px) {
    .Date_Flag  {
        width: 70px;
        height: 60px;
    }
    .Tour__Container  svg  {
        width: 40px;
    }   
}


.Product__Container {
    background-color: #085048;
    margin: 100px auto;
    width: 65vw; 
    height: auto;
    border-radius: 20px;
    padding: 20px 0px;
    -webkit-overflow-scrolling: touch;
    overflow-x: auto;
    box-shadow: 0 0 12px black;
    
}

.Product__Feature   {
    
    display: grid;
    grid-gap: 20px;
    grid-auto-flow: column;
    grid-auto-columns: 12vw;
    grid-gap: 4%;
    align-items: center;
    animation: infiniteScroll  10s infinite linear;
}

.Product__Feature--inner {
    display: contents;
}

/* @keyframes infiniteScroll {
    0% { 
        transform: translateX(0);
    }
	100% { 
        transform: translateX(-70%);
    }
}
   */
/* .Product__Feature :first-child  {
    padding-left: 20px;
} */

.Product__Feature :last-child   {
    padding-right: 20px;
}

.Product__Card  {
    width: 12vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Product__Card img  {
    align-items: flex-start;
    width: 80%;
    margin: 0 10px;
}

.Product__Card h3   {
    color: #D4FF00;
    margin: 0 auto;
    text-transform: uppercase;
    font-size: 14px;
    text-align: center;
}

.Product__Card p    {
    color: white;
    vertical-align: auto;

    
}


.Band__Interactive__Container   {
    border-radius: 20px;
    border: 4px solid #085048;
    box-shadow: 0 0 12px black;
    margin: 100px 0px;
    width: 65vw;
    overflow: hidden;
    background-color: #085048;
   
}

.Band__Interactive__Container h2    {
    padding-left: 20px;
}

.Band__Interactive__Box {
    background-image: url(Media/Band__Map__BG.png);
    background-size: 100% 100%;
    display: flex;
    min-width: none;
    max-height: 400px;
    height: 40vw;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.Gareth_Murdock   {
    position: absolute;
    left: 35%;
    top: 0px;
    width: auto;
    height: 20vw;
    z-index: 2;
}

.Elliot_Vernon   {
    position: absolute;
    left: 3%;
    bottom: 0%;
    height: 15vw;
    z-index: 2;
}

.Máté_Bodor   {
    position: absolute;
    bottom: -35%;
    left: 20%;
    height: 25vw; 
    rotate: 15deg;
    z-index: 3;
}

.Duckie   {
    position: absolute;
    top: 30%;
    height: 10vh;
    z-index: 2;
}

.Peter_Alcorn   {
    position: absolute;
    right: -2%;
    bottom: 10%;
    height: 30vh;
    z-index: 2;
}

.Christopher_Bowes   {
    position: absolute;
    left: 45%;
    bottom: -20%;
    height: 40vh;
    rotate: -10deg;
    z-index: 3;
}

.Band__Interactive__Box>img:hover   {
    transform: scale(1.2);
}

.Band__Interactive__Box:hover .member:not(:hover) {
    filter: grayscale(1) blur(10px);
}

.Band__Info__Box {
    position: relative;
    display: none;
    background-color: white;
    border: 2px solid #085048;
    color: #085048;
    border-radius: 20px;
    padding: 20px 20px;
    z-index: 1;
    width: 30%;
    height: max-content;
    
    
}

.Band__Info__Box h4{
    margin-top: 0;
}

.Band__Info__Box p{
    margin: 0;
}

#Bass   {
    left: 650px;
    top: 10px;
}

#Keyboard   {
    left: 250px;
    top: 10px;
}

#Guitar {
    left: 100px;
    top: 300px;
}

#Duckie {
   left: 120px;
   top: 250px; 
}

#Trommer    {
    left: 850px;
    top: 10px;
}

#Keytar {
    left: 600px;
    top: 300px;
}

.close__icon {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;
    height: auto;
    cursor: pointer;
    margin: 10px;
}


.Contact_Container  {
    width: 65vw;
    background-color:#085048;
    border-radius: 20px;
    height: fit-content;
    padding: 20px 0px;
    margin: 100px 0px 200px;
    display: flex;
    flex-direction: column;
}

.Contact_Form form  {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-row-gap: 20px;
    margin-right: 20px;
}

.Contact_Container h2    {
    margin-left: 20px;
    margin-bottom: 20px;
    padding-right: 20px;
    border-bottom: 4px solid #ffffff;
    width: max-content;
}

#Input_Name,
#Input_Mail {
    width: auto;
    padding: 10px;
    border: 2px solid #212121;
    border-radius: 5px;
    font-size: 16px;
    margin-left: 20px;
    box-shadow: 0 0 4px black;
}

.Message_Container {
    position: relative;
    grid-row: 1 / span 2; 
    grid-column: 2 / 3;
    margin-right: 20px;
}

textarea    {
    resize: none;
}

#Input_Message {
    width: 100%;
    height: 100%;
    border: 2px solid #212121;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
    margin: 0 20px;
    padding: 10px;
    box-shadow: 0 0 4px black;
}

#charCount {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: #757575;
    font-size: 14px;
}

#Input_Name {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}

#Input_Mail {
    grid-row: 2 / 3;
    grid-column: 1 / 2; 
}

.Contact_Container button   {
    padding: 10px 50px;
    border-radius: 5px;
    background-color: transparent;
    cursor: pointer;
    border: 2px solid white;
    color: white;
    margin: 0px 20px 20px;
    box-shadow: 0 0 4px black;
    font-weight: bold;
    font-size: 18px ;
}

.Contact_Container button:hover {
    background-color: white;
    color: #085048;
    border-color: #212121;
}

@media (max-width: 700px) {

    .Contact_Form form  {
        grid-template-columns: 1fr;
        grid-row-gap: 20px;

    }
    .Message_Container {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: #616161;
  }
  
  
  ::-webkit-scrollbar-thumb {
    background: #ffffff;
    box-shadow: 0 0 12px black;
    cursor: pointer;
  }
  
 
  ::-webkit-scrollbar-thumb:hover {
    background: #D4FF00;
  }