body {
    margin: 0px;
    width: 100%;
}
html { scroll-behavior: smooth;}

.Box   {
    display: flex;
    align-items:center;
    width: 100%;
    height: 80px;
    margin: 0px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    top: 0;
    position:fixed;
    background-color: rgba(0, 0, 0, 0.705);
    z-index: 1000;
    transition: height 0.3s ease;
    padding: 15px;
}
.Box:hover  {
    padding: 40px;
    transition: padding 0,5s ease-in-out;
}
h1  {
    margin-left: 50px;
    margin-top: 30px;
    font-size: 45px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 5px;
    -webkit-text-stroke: 1px #0AD3F8;
    color:rgba(206, 206, 206, 0);

}

.Nav_Bar    {
    display: flex;
    padding-left: 300px;
}

.Nav_Bar_Button    {
    border-radius: 10px;
    color: white;
  text-shadow: #0AD3F8;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  margin: 0 10px;
  background-color: rgba(0, 0, 0, 0);
 
}
.Nav_Bar_Button:hover {
    
    text-shadow: 2px 5px 5px #ffffff6c;
    font-size: 30px;
    padding: 10px;
    border-left: 2px solid #0AD3F8;
    border-bottom: 2px solid #0AD3F8;
    
}
.Nav_Bar_Button:active  {
    transform: translateY(4px);
    box-shadow: 0 5px #6b6b6b;
}

h2      {
    font-size: 75px;
    margin-top: 150px;
    color: white;
    margin-left: 250px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: inline-block;
    justify-content: center;
    padding: 10px;
    text-decoration: 2px solid white;
    
    
}

main    {
    align-content: center; 
}
.Image_Box  {
    background-image: url(Jungle_Colorful.jpg);
    background-size: cover;
    height: 1000px;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.container {
    display: flex;
    text-align: center;
    max-width: 960px;
    align-items:center;
    margin-right: 0 auto;
    position: absolute;
    left: 30%;
    top: 50%;

}

.content-box {
    background-color: rgba(25, 39, 97, 0.8);
    display: flex;
    margin: 25px;
    width: 300px;
    height: 150px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    color: white;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 170%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.content-box:hover {
    background-color: rgba(39, 212, 255, 0.63);
    color: #343434;
    font-size: 200%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 2px;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(24, 162, 241, 0.8);
    scale: 110%;
    
    
}

.About_Me   {
    display: flex;
    flex-direction: column;
    justify-content: center;
   background-color:#343434 ; 
   height: 500px;
   width: 100%;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
   color: white;
   align-items: center;
  
   
}

h3  {
    font-size: 100px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 10px;
    text-align: left;
    margin-bottom: 10px;
    margin-top: 0px;
    margin-right: 50px;
    border-bottom: 6px solid #ffffff;
    
}


    

.Text_Block_About   {
    display: inline; 
    width: 900px;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 30px;
    padding-top: 0px;
    padding-bottom: 0px;
    border-radius: 10px;
    font-size: 20px;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 1.5px;
    line-height: 1.5;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    letter-spacing: 1.3px;
}

.showcase   {
    background-image: url(blue_orange.jpg);
    background-size: cover;
    height: 1000px;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.Showcase_Text_Box   {
    margin: 0px auto;
    width: 900px;
    height: 400px;
    background-color: white;
    margin-top: 50px;
    border-radius: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 1.5px;
    line-height: 1.5;
    font-size: 30px;
    color: #6b6b6b;
    padding: 30px;
    padding-top: 0px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
   display: inline-block;
   border-top: 4px, #0AD3F8;
}

h4  {
    font-size: 50px;
    color: #343434;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 10px;
    border-bottom: 6px solid #0AD3F8;
    margin-right: 50px;
}