.spaceing{
size: 100vh;
}

.overskrift1{
font-size: 8rem;
padding: 0.5rem;
background-color: lightblue;
}

.text1{
font-size: 4rem;
padding: 3rem;
background-color: lightgreen;
}

.box1{
    height: 25em;
    width: 25em;
    padding: 2em;
    background-color: red;
}

.Em{
size: 100vh;
}

.text2


.clamp{
size: 100vh;
}