body{
    background-color: #1f1f1f;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:white
}
header{
    background-color: #1f1f1f;
    position: sticky;
    top: 0;
    color: #23abf2;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    border-bottom: solid 1px rgba(240, 248, 255, 0.164);
    text-decoration: none;
}
.navList{
    padding: 12px;
    margin: 12px;
    display: flex;
    justify-content: center;
    list-style: none;
    font-weight: 400;
    gap: 4em;
    font-size: 1.35em;
}
.subNavList{
    margin: auto;
    display: flex;
    justify-content: center;
    list-style: none;
    font-weight: 400;
    gap: 4em;
    font-size: 1em; 
    margin-bottom: 20px;
}
.listItems{
    background-color: #23abf2;
    border: 2px solid rgb(1, 86, 129);
    text-decoration: none;
    border-radius: 5px;
    background-color: rgb(96 139 168 / 0.2);
}
.gapStyle1{
    display: flex;
    gap: 1em;
}
.gapStyle2{
    display: flex;
    gap: 4em;
}
.justifyCenter{
    display: flex;
    flex-direction: row;
    gap: 2em;
    justify-content: center;
}
.justifyContent{
    border: 2px solid white;
    background-color: #23aaf219;
}
.justifySpace{
    display: flex;
    flex-direction: row;
    gap: 2em;
    justify-content: space-between;
}
.flexDirection1{
    display: flex;
    flex-direction: column;
    gap: 2em;
    justify-content: center;
}
.flexDirection2{
    display: flex;
    flex-direction: row;
    gap: 2em;
    justify-content: center;
}
.bottomBorder{
    border-bottom: 2px solid white;
}
.sectionBorder{
    border: 2px solid rgb(255, 0, 0);
}
.flexWrap1{
    width: 100px;
    display: flex;
    flex-wrap: nowrap;
}
.flexWrap2{
    width: 100px;
    display: flex;
    flex-wrap: wrap;
}
.flexGrow{
    flex-grow: 1;
}
.flexShrink{
    flex-shrink: 1;
}
.cards{
    width: 866px;
    grid-template-columns: 1fr 1fr 1fr;
    display: grid;
}
.articleBg{
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
}
.flex{
    flex-grow: 1;
}
.flexTop{
    flex-shrink: 1;
}
.focus{
    font-weight: bold;
    border-bottom: 2px solid white;
}
ul{
    padding: 0;
}
li{
    list-style: none;
}
p:not(.flexExamples, .sectionText, .fruitDescription){
    max-width: 866px;
    margin-bottom: 4px;
    padding-top: 40px;
}
.flexExamples{
    padding-left: 40px;
}
.flexGrowText{
    padding-left: 20px;
    margin-top: 0;
    padding-top: 20px;
}
.darkImg{
    max-width: 400px;
    border: solid 2px white;
    border-radius: 12px;
}
.whiteImg{
    max-width: 400px;
    border: solid 2px black;
    border-radius: 12px;
}
.description{
    font-size: 1em;
    border-bottom: 2px solid white;
    display: flex;
    justify-content: center;
}
.single{
    padding-left: 200px;
    text-align: center;
}
a:link:not(.fruitButton){
    text-decoration: none;
    color: #88d5ff;
}
a:visited{
    color: #88d5ff;
}
a:focus{
    background-color: rgb(137, 137, 137);
}
a:hover:not(.fruitButton){
    background-color: #88d5ff18;
    border-style: solid;
    border-color: white;
    border-width: 2px;
}
footer{
    padding-top: 20px;
    text-align: center;
    color: rgba(175, 175, 175, 0.651);
}
.fruits{
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    display: grid;
    gap: 1em;
}
.fruit{
    display: flex;
    flex-direction: column;
    background-color: #2a2a2a;
    padding: 1em;
    box-shadow: 5px 5px 5px #13131376;
    padding: 10px 20px 40px 20px;
}
.fruitHeading{
    text-shadow: 1px 0 20px rgb(224, 125, 90);
}
.fruitImage{
    width: 100%;
    background-color: rgb(224, 125, 90);
    box-shadow: 5px 5px 5px black;
}
.fruitDescription{
    flex-grow: 1;
}
.fruitButton{
    color: white;
    border: 1px black;
    border-radius: 1em;
    background-color: rgb(224, 125, 90);
    padding: 1em;
    text-decoration: none;
    box-shadow: 5px 5px 5px black;
}