/* Opg. til Onsdag
  <1> Få puttet alt sammen med resten
  <2> Ryd op i .css koden
  <3> ???
*/

/*Generalt*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.germania-one-regular {
  font-family: "Germania One", system-ui;
  font-weight: 400;
  font-style: normal;
}

mark {
  background: rgb(226, 226, 226);
  padding: 0px 2px;
}

/* Body Styling (Dragon Storyline)*/
.bodyDragon {
  background-image: url("images/Backgrounds/dragonCastle.png");
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100vh;
}

/* Dragon Character */
img.characterDragon {
  z-index: 1;
  position: relative;
  overflow: hidden;
  width: 700px;
  height: auto;
  margin-right: 600px;
  margin-top: 200px;
}

img.animateDragon {
  animation: dragon 2s cubic-bezier(0.68, -0.55, 0.27, 1.55) forwards;
}

@keyframes dragon {
  0% {
    translate: -900px 200px;
  }

  100% {
    translate: 0px;
  }
}

/* Body Styling (Witch Storyline)*/
.bodyWitch {
  background-image: url("images/Backgrounds/witchForest.png");
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100vh;
}

/* Character Styling Witch */

img.characterWitch {
  z-index: 1;
  position: relative;
  overflow: hidden;
  width: 500px;
  height: auto;
  margin-right: 600px;
  margin-top: 100px;
}

img.animateWitch {
  animation: witch 4s cubic-bezier(0.22, 0.61, 0.36, 1) forwards;
}

@keyframes witch {
  0% {
    translate: -900px 200px;
  }

  100% {
    translate: 0px;
  }
}

/* Body Styling (Bat Storyline)*/
.bodyBat {
  background-image: url("images/Backgrounds/batForest.png");
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100vh;
}

/* Bat Character */
img.characterBat {
  z-index: 1;
  position: relative;
  overflow: hidden;
  width: 600px;
  height: auto;
  margin-left: 500px;
  margin-top: 0px;
}

img.animateBat {
  animation: bat 2s cubic-bezier(0.55, 0.09, 0.68, 0.53) forwards;
}

@keyframes bat {
  0% {
    translate: 1900px 200px;
  }

  100% {
    translate: 0px;
  }
}

/* Body Styling (Crow Storyline)*/
.bodyCrow {
  background-image: url("images/Backgrounds/crowForest.png");
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100vh;
}

/* Crow Character */
img.characterCrow {
  z-index: 1;
  position: relative;
  overflow: hidden;
  width: 500px;
  height: auto;
  margin-left: 500px;
  margin-bottom: 100px;
}

img.animateCrow {
  animation: crow 900ms cubic-bezier(0.68, -0.55, 0.27, 1.55) forwards;
}

@keyframes crow {
  0% {
    translate: 1100px 200px;
  }

  100% {
    translate: 0px;
  }
}

/* Logo */
nav {
  position: absolute;
  z-index: 4;
  top: 20px;
  left: 20px;
}

.logo {
  height: 90px;
  width: auto;
}

/* Conversation */
.npc {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  z-index: 2;
  top: 500px;
  left: 10%;
  padding: 20px;
  border-radius: 8px;
  flex-direction: column;
}

.person {
  position: absolute;
  z-index: 3;
  top: -10px;
  left: 30px;
  background: linear-gradient(
    180deg,
    #8b4100 0%,
    #9c3904 10%,
    #9c3904 90%,
    #8b4100 100%
  );
  font-family: "Germania One", system-ui;
  border: none;
  color: white;
  padding: 4px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  border-radius: 4px;
}

.conversation {
  font-family: "Germania One", system-ui;
  z-index: 2;
  background-color: white;
  border: none;
  color: black;
  padding: 18px 17px;
  width: 1000px;
  font-size: 25px;
  text-align: left;
  display: inline-block;
  border-radius: 4px;
}

.options {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  margin-top: 8px;
}

.option {
  font-family: "Germania One", system-ui;
  z-index: 3;
  background-color: #9c3904;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  font-size: 24px;
  border-radius: 4px;
  transition: transform 250ms ease-in;
}

.option:hover {
  transform: scale(1.1);
  background-color: #5c2000;
}

.arrow {
  height: auto;
  width: 30px;
  margin: 0;
}

/* Back Button */
.backButton {
  z-index: 6;
  position: absolute;
  top: 700px;
  left: 50px;
  text-decoration: none;
  color: white;
  font-family: "Germania One", system-ui;
}
