/* common styling */
:root { 
    --sfont: 1rem; 
    --mfont: calc(var(--sfont) + 0.5rem); 
    --lfont: calc(var(--sfont) + 1rem); 
    --xlfont: calc(var(--sfont) + 2rem); 
    --xxlfont: calc(var(--sfont) + 3rem); 
}
* {
	box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
  }
body{
    background-color: #333;
    color:white;
    /* remove default padding and margin */
    margin: 0;
    padding: 0;
    padding-top: 100vh;
}
p, li{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h2{
    font-family: "Charm", cursive;
}
a{
    text-decoration: none;
    color: inherit;
}
.section{
    padding: 2em;
}

/* header */
.sticky-parallax-header {
	height: 100vh;
	width: 100%;
    z-index: 1;
	background-image: url(images/roast_pork.png);
	background-size: cover;
	background-position: 50% 50%;
	background-blend-mode: soft-light;
	display: grid;
	place-items: center;
	text-align: center;
    font-size: calc(var(--sfont) + 0.75rem);
	position: fixed;
	top: 0;
	animation: sticky-parallax-header-move-and-size linear forwards;
	animation-timeline: scroll();
	animation-range: 0vh 100vh;
}
@keyframes sticky-parallax-header-move-and-size {
	from {
		background-position: 50% 0;
		height: 100vh;
	}
	to {
		background-position: 50% 100%;
		height: 90px;
        font-size: var(--mfont);
        border-bottom: 2px solid #D3AB54;
	}
}
.navBar{
    background-color: rgba(0, 0, 0, 0.4);
    display: grid;
    grid-template-columns: 20% 1fr 20%; /* apply grid to navBar and define sizes so that the menu is centered*/
    align-items: center;
    justify-items: center;
    box-shadow: 4px 4px rgba(0, 0, 0, 0.2);
    width: 100vw;
}
.logo__link{
    height: 90px;
}
.menu__link:hover{
    border-bottom: 2px solid white;
}
.header__logo{
    padding: 0.25em 0 0.25em 0;
    height: 90px;
}
.menu{
    display: flex;
    gap: 1em;
    list-style: none;
    justify-content: center;
    align-items: center;
}
.menu__item{
    padding: 0.5em;
}
.menu__basket{
    display: flex;
    justify-content: center;
}

/* section: hero */
.hero{
    height: 100vh;
    background-image: 
    /* Linear gradient from left to right on top of the background image */
    linear-gradient(90deg, black 0%, rgba(0, 0, 0, 0.2) 100%),
    url(images/bbq.png);
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-rows: 20% 20%;
    grid-template-columns: 1fr 1fr;
    align-content: center;
    justify-items: center;
    padding: 2em;
}
.hero__title{
    font-weight: 600;
    font-size: var(--xlfont);
    text-align: center;
    margin: 0.5em;
}
.hero__title--highlight{
    position: relative;
    font-size: var(--xxlfont);
    font-weight: 700;
    color: #D3AB54;
}
.hero__title--1{
    align-self: flex-end;
}
.hero__title--2{
    grid-row: 2 / 4;
    align-self: flex-start;
}

/* section: intro */
.intro{
    position: relative; /* Display the image behind */
    border-top: 2px solid #D3AB54;
    border-bottom: 2px solid #D3AB54;
    padding: 2em;
}
/* Background for section without affecting the text */
.intro::before{ 
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('images/roast.png');
    background-size: cover;
    background-position: center;
    opacity: 0.7;
    z-index: -1;
    filter: blur(2px);
}
/* text reveal scroll effect by Kevin Powell: 
https://www.youtube.com/watch?v=d10GaL6F-lA */
.intro span {
    color: hsla(0 0 100% / 0.2);
    background-clip: text;
    background-repeat: no-repeat;
    background-size: 0% 100%;
    background-image: linear-gradient(90deg, white, white);
    animation: scroll-reveal linear forwards;
    animation-timeline: view();
}
.intro .intro__title--top span{
    animation-range-start: cover 20vh;
    animation-range-end: cover 40vh;
}
.intro .intro__text span{
    animation-range-start: cover 22.5vh;
    animation-range-end: cover 50vh;
}
.intro .intro__title--bottom span{
    animation-range-start: cover 42.5vh;
    animation-range-end: cover 50vh;
}
@keyframes scroll-reveal {
    to {
        background-size: 100% 100%;
    }
}
/* Common styling for both titles */
.intro__title{
    display: flex;
    justify-content: center;
    margin: 0;
}
/* Larger/smaller font sizes for each title*/
.intro__title--top{
    font-size: var(--xlfont);
    padding: 1em 0 0.5em 0;
}
.intro__title--bottom{
    font-size: var(--lfont);
    padding: 0.5em 0 1em 0;
}
.intro__text{
    font-size: var(--sfont);
    background-color: rgba(0, 0, 0, 0.5);
    max-width: 70%;
    margin: auto;
    border: 2px solid #D3AB54;
    padding: 2em;
}

/* section: products */
.products{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    position: relative;
    padding: 2em;
    gap: 2em;
}
.products::before{ 
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('images/wineglasses.png');
    background-size: cover;
    background-position: center;
    opacity: 0.8;
    z-index: -1;
    filter: blur(2px);
}
.product{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 1em 1em 0 1em;
    box-shadow: 5px 5px 5px #20202076;
    border: 2px solid #D3AB54;
    opacity: 0.8;
    transition-duration: 400ms;
    transition-property: opacity, scale, box-shadow;
}
.product:hover{
    opacity: 1;
    scale: 1.02;
    box-shadow:  
    0 0 10px #D3AB54, 
    0 0 20px #D3AB54,
    0 0 30px #D3AB54;
}
.product__image{
    border: 2px solid white;
}
.product__title{
    color: #D3AB54;
    font-size: var(--lfont);
    text-shadow:
    2px 2px 2px #333,
    -2px -2px 2px #333,
    -2px 2px 2px #333,
    2px -2px 2px #333; 
}
.product__description{
    font-size: var(--sfont);
    flex-wrap: wrap;
    flex-grow: 1;
    padding: 1em;
}
.product__price{
    color: #D3AB54;
    font-size: var(--lfont);
    font-family: "Charm", cursive;
    font-weight: 700;
}

/* footer */
.footer{
    border-top: 2px solid #D3AB54;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    background-color: #222;
}
.footer__title{
    display: flex;
    justify-content: center;
    color: #D3AB54;
    font-family: "Charm", cursive;
    font-size: var(--lfont);
    margin: 0 0 0 0;
}
.footer__openingHours{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: start;
    padding: 1em;
}
.footer__contact{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
}
.footer__list{
    list-style: none;
    padding-left: 0;
}
.footer__logo{
    display: flex;
    align-self: center;
}