body{
    background-color: #000000dd;
    color: white;
}
.h1{
    text-align: center;
}
.mainnav{
    display: flex;
    justify-content: center;
    gap: 3em;

}

.navlist{
    display: contents;
    justify-content: space-between;
    list-style: none;
    font-size: 30px;

}
.header{
position: sticky;
top: 0;
background-color: #000000dd;
border-bottom: solid 1px rgba(255, 255, 255, 0.717);
}
.navlink{
    text-decoration: none;
padding-bottom: 20px;
}

a:link{
color: white;
text-decoration: none;
}
a:visited{
color: white;
}
a:hover{
text-decoration: underline

}
a:focus{
}
a:active{

}
.art{
    background-color: aquamarine;
    width: 300px;
}
.article{
    display: flex;
    flex-direction: column;
}
.articles{
    display: flex;
    gap: 1em;
    justify-content: center;
}
.paragraf{
flex-grow: 1;
}
a.button{
    color: white;
    text-decoration: none !important;
    font-family: danske_textregular, Verdana, sans-serif;
    font-size: 16px;
    background-color: #a1a3a5;
border-radius: 8px;
padding: 15px 32px;
}
a.button:hover{
    background-image: linear-gradient(rgb(0 0 0/40%) 0 0);
}

.ul1{
    padding-left: 0;
    list-style: none;
    display: flex;
    gap: 1em;
    justify-content: space-between;
}
.ul2{
    padding-left: 0;
    list-style: none;
    display: flex;
    gap: 1em;
}
.li2{
    font-size: 24px;
}
.nav2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
}
.login{
    
}
.ul3{
    list-style: none;
    gap: 0.5em;
    display: flex;
    flex-direction: column;
    max-width: 400px;
}
.li3{
    font-size: 30px;
    border: 2px solid white; 
}
.ul4{
    list-style: none;
    gap: 1em;
    display: flex;
    flex-direction: row-reverse;
}
.ul5{
    list-style: none;
    gap: 1em;
    display: flex;
    justify-content: right;
}
img{
    width: 280px;
    height: 280px;
}
.grid{
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    display: grid;
    gap: 1em;
}
.articles{
    background-color: aquamarine;
    padding: 30px 30px 30px 30px;
    display: flex;
    flex-direction: column;
}
.heading{
    color: orange;
    font-weight: bold;
}
.knap{
    color: white;
    border: 1px black;
    border-radius: 1em;
    background-color: orange;
    padding: 1em;
    text-decoration: none;
    font-weight: bold;
}
.description{
    flex-grow: 1;
}
