*{
    font-family: "Fanwood Text", serif;
    justify-content: center;
    /* margin: auto; */
}
body{
    background-color: black;
    color: white;
    margin: 0;
}

header{
    background-color: black;
}

.header__logo{
    margin-right: auto;
}

.navBar{
    display: flex;
    justify-content: end;
}

.navBar__menu{
    display: flex;
    gap: 2em;
    list-style: none;
    margin-right: 30px;
    align-items: center;

}

.navBar__menu--item{
    text-decoration: none;
    color: white;
    font-size: 30px;
}

.products{

}

.hero{
    height: 80vh;
    background-image: url(images/footer-newsletter-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    flex-direction: column;
    align-content: flex-start;
    flex-wrap: wrap;
    /* Det burde løses med grid, hvor background image har span 2 og man placere texten i første grid*/
}



.hero__headline{
    font-size: 50px;
    padding-left: 100px;
    /*midlertidig lorte fix*/
}

.products__title{
    font-size: 40px;
    color: #EF3E35;
    text-align: center;
    margin: 20px;
}

.products{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}

.product{
    display: flex;
    flex-direction: column;
    background-color: #1e1e1e;
    max-width: 400px;
    height: 98%;
    border-radius: 10px;

}

.product__title{
    padding-left: 10px;
    margin: 10px 0px 10px 0px;
    color: #EF3E35;
}

.product__description{
    padding-left: 10px;
    flex-grow: 1;
max-width: 310px;
margin: 0;
}

.product__price{
font-size: 30px;
padding-left: 10px;
align-self: center;
color: #EF3E35;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
margin-top: 0;
margin-bottom: 5px;
}

.product img{
height: 40%;
border-radius: 5px;

}

.intro{
    background-color: black;
    background-image: url(images/roast.png);
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro__textbox{
    background-color: rgba(0, 0, 0, 0.70);
    height: fit-content;
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;

}

.intro__title{
    color: #EF3E35;
    font-size: 30px;
}

.intro__text{
    font-size: 20px;
    color: white;
}

footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    justify-items: center;
    padding-bottom: 10px;

}

.footer__title{
    margin: 5px 0px 5px 0px;
}

footer p{
    font-family: Arial, Helvetica, sans-serif;
    /* Mere læselig font til tal */
}

.footer__grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0;
}

.footer__grid--dates{
    margin: 5px 0px 5px 0px;
}

.footer__title{
    color: #EF3E35;
}

a:link{
    text-decoration: none;
    color: white;
}
a:visited{
    text-decoration: none;
    color: white;
}

.navBar__menu a:hover{
    color: #EF3E35;
    border-bottom: 2px solid #EF3E35;
    /* Hover effekt til navbar */
}