/* Body & Fonts */
body {
    font-family: "Handlee";
    background-color: rgb(39, 39, 39);
    margin: 0;
    letter-spacing: 1px;
}

@font-face {
    font-family: "Handlee";
    src: url("Fonts/handlee-regular.ttf");
}



/* Header & Navigation */
.header__navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 20px;
}

.menu {
    display: flex;
    flex-grow: 1;
    color: white;
    gap: 0px;
    justify-content: flex-start;
}

.menu__item {
    list-style-type: none;
    flex: 1;
    text-align: center;
  }

  .menu__item:nth-child(3) {
    margin-left: auto;
    margin-right: auto;
  }

.menu__link {
    color: white;
    text-decoration: none;
    position: relative;
}

.menu__link:link, .menu__link:visited {
    color: white;
    text-decoration: none;
}

.menu__link:hover {
    color: white;
    border-bottom: 1px solid rgb(211, 171, 84);
    padding-bottom: 3px;
}

.logo__image {
    height: 60px;
    width: auto;
    margin-top: 10px;
}

.cart {
    height: 22px;
}



/* Hero Section */
.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100vw;
}

.hero__image {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5)
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.8) 0%,rgba(0, 0, 0, 0.7) 10%, rgba(0, 0, 0, 0) 40%);
    z-index: 0;
}

.hero__highlight {
    position: absolute;
    top: 50%;
    left: 30px;
    transform: translateY(-50%);
    z-index: 1;
    color: white;
    max-width: 440px;
}

.hero__highlight__heading {
    font-size: 2rem;
    margin: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 255);
    padding-bottom: 10px;
    font-weight: normal;
}

.hero__highlight__contentText {
    font-size: 1rem;
    margin: 0.5rem 0;
    padding-top: 10px;
    line-height: 1.5;
}



/* Introduction Page */
.introPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    padding: 20px;
    background-color: rgb(27, 27, 27);
}

.introPage__headingOne {
    font-size: 3.5rem;
    margin: 0;
    margin-bottom: 20px;
    color: rgb(239, 62, 53);
    font-weight: normal;
}

.introPage__headingTwo {
    font-size: 2.3rem;
    margin: 40px 0 0 0;
    color: white;
    font-weight: normal;
}

.introPage__heading__line {
    width: 480px;
    height: 2px;
    background-color: rgb(211, 171, 84);
    margin: 0px auto 50px auto;
    display: block;
}

.introPage__headingThree {
    position: relative;
    font-size: 1.2rem;
    color: rgb(211, 171, 84);
    font-weight: normal;
}

.introPage__contentText {
    display: flex;
    flex-wrap: wrap;
    color: white;
    line-height: 1.5rem;
    margin: 16px auto;
    max-width: 750px;
}

.introPage__contentTextAlternate {
    color: rgb(211, 171, 84);
    margin-bottom: 40px;
}



/* Product Page */
.productPage {
    padding: 20px;
    margin-bottom: 60px;
}

.productPage__heading {
    text-align: center;
    font-size: 2.3rem;
    color: white;
    font-weight: normal;
    margin-bottom: 20px;
}

.productPage__heading__line {
    width: 400px;
    height: 2px;
    background-color: rgb(211, 171, 84);
    margin: 0px auto 70px auto;
    display: block;
}

.productPage__productCards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 100px;
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 20px;
    justify-items: center;
}

.productPage__productCard {
    background-color: rgb(27, 27, 27);
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid rgb(239, 62, 53);
    max-width: 280px;
    width: 100%;
}

.productPage__productCard__imageWrapper {
    position: relative;
    overflow: hidden;
    border-radius: 2px;
    padding: 4px;
    background: linear-gradient(to bottom right, #d3ab54, #463316);
    display: inline-block;
    margin-bottom: 16px;
}

.productPage__productCard__image {
    width: 100%;
    height: 260px;
    border-radius: 2px;
    display: block;
}

.productPage__productCard__heading {
    font-size: 1.5rem;
    margin: 10px 0 10px 5px;
    color: rgb(211, 171, 84);
    font-weight: normal;
}

.productPage__productCard__description, .productPage__productCard__listItems, .productPage__productCard__listItem, .productPage__productCard__descriptionAlternate, .productPage__productCard__listItemsAlternate {
    font-size: 1rem;
    color: white;
    margin-bottom: 10px;
    font-weight: normal;
    list-style: none;
    list-style-type: none;
    padding: 0 5px;
    margin: 0;
    line-height: 1.8rem;
    letter-spacing: 1px;
}

.productPage__productCard__description, .productPage__productCard__descriptionAlternate, .productPage__productCard__listItemsAlternate {
    margin-bottom: 30px;
}

.productPage__productCard__price {
    font-size: 1.5rem;
    font-weight: normal;
    color: rgb(211, 171, 84);
    margin: 0 5px;
    margin-top: auto;
}

.productPage__productCard__priceContainer {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.productPage__productCard__chiliFries, .productPage__productCard__priceContainer {
    gap: 5px;
}



/* Footer Section */
/* Opening Days & Times */
.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 40px 100px;
    background-color: rgb(27, 27, 27);
    border-top: 1px solid rgb(211, 171, 84);
}

.footer__openingHours {
    margin-right: 100px;
    margin-bottom: 50px;
}

.footer__openingHours__heading {
    margin-bottom: 10px;
    color: white;
    border-bottom: 1px solid rgb(239, 62, 53);
    font-weight: normal;
    padding-bottom: 10px;
    padding-left: 5px;
}

.footer__schedule__wrapper {
    display: flex;
    gap: 0px;
}

.footer__openingHours__days__listItems, .footer__openingHours__times__listItems {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.footer__openingHours__times__listItems {
    width: 168px;
}

.footer__openingHours__days__listItem {
    padding-left: 5px;
}

.footer__openingHours__times__listItem {
    padding-left: 50px;
    padding-right: 5px;
}

.footer__openingHours__days__listItem, .footer__openingHours__times__listItem {
    list-style-type: none;
    line-height: 2.5rem;
    color: rgb(214, 214, 214);
    border-bottom: 1px solid rgb(17, 17, 17);
}

/* Footer Section */
/* Contact */
.footer__contact__heading {
    margin-bottom: 10px;
    color: white;
    border-bottom: 1px solid rgb(239, 62, 53);
    font-weight: normal;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

.footer__contact__info__listItems, .footer__policies__listItems {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.footer__contact__info__listItem, .footer__policies__listItem {
    color: rgb(214, 214, 214);
    line-height: 2.5rem;
    border-bottom: 1px solid rgb(17, 17, 17);
    padding-left: 5px;
    padding-right: 5px;
}

.footer__policies__listLink {
    color: rgb(214, 214, 214);
    text-decoration: none;
}

.footer__policies__listLink:hover {
    text-decoration: underline;
    color: white;
}

.footer__policies__listItemAlternate {
    border-top: 1px solid rgb(17, 17, 17);
}

.footer__divider {
    width: 100%;
    height: 1px;
    background-color: rgb(211, 171, 84);
    margin: 36px 0;
}