*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
    background-color: rgb(49, 24, 24);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.background{
    background-color: black;
}


.test{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    align-items: center;
}


.headNav{
    background: rgb(33,19,19);
    background: linear-gradient(0deg, rgba(49,24,24,1) 0%, rgba(65,31,31,1) 50%, rgba(68,42,42,1) 100%);
}

.headNav__logo{
    width: 100px;
    border-radius: 50%;
    margin: 0.4rem 0.4rem 0.4rem 55px;
    text-decoration: none;
    border: solid rgb(99, 99, 99);
}

.headNav__logo:hover{
    border: solid gold;
}

.headNav__logoLink{
    text-decoration: none;
}

.headNav__title{
    font-size: 4rem;
    color: gold;
    text-align: center;
    font-family: "Island Moments", serif;
    font-weight: 500;
    font-style: normal;
}


.headNav__items{
    list-style: none;
    display: flex;
    justify-content: space-around;
    border: solid rgb(68, 42, 42);
    margin-left: 50px;
    margin-right: 50px;
    gap: 20px;
    padding: 1rem;
    border-radius: 1.5rem;
    margin-bottom: 20px;
   /* background-color:rgb(65, 31, 31);*/

    box-shadow: inset 2px 2px 10px rgba(0, 0, 0, 0.349);
    flex-wrap: wrap;
}

.headNav__item{
    text-decoration: none;
    color: gold;
    padding: 0.5rem;
    border-width: 0.1rem;
    border-radius: 0.7rem;
    font-size: 1.2rem;
    border: solid rgba(0, 0, 0, 0);
    border-right:double rgba(255, 217, 0, 0.603);
    border-left: double rgba(255, 217, 0, 0.603);
}

.headNav__item:hover{
    border: solid brown;
    background-color: rgb(49, 24, 24);
}




.hero{
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    
}

.hero__img{
    width: 500px;
}

.hero__title{
    color: gold;
    margin-bottom: 2rem;
    font-size: 2rem;
}

.hero__text{
    color: gold;
}


.headNav__basket{
    width: 50px;
    justify-self: end;
    margin-right: 55px;
}






.shopContent{
    background-color: rgba(120, 0, 0, 0.903); /* Transparent overlay */
    /*background-image: url('https://cdn.midjourney.com/4cf76ae2-7749-4321-811e-976e93ee9d7f/0_0.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;*/
    background: url(./images/woodenTilesDarkmostTransparent.png) no-repeat center / cover;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.items{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    row-gap: 90px;
}

.item{
    background-color: rgb(39, 39, 39);
    box-shadow: 10px 10px 50px;
    border-radius: 1rem;
    padding: 1rem;
    max-width: 16rem;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    gap: 1rem;
    background: linear-gradient(160deg, rgba(55,55,55,1) 0%, rgba(39,39,39,1) 100%);
}

.item__title{
    color: gold;
    border-bottom: solid gold;
    padding-bottom: 0.2rem;
}

.item__img{
    width: 15rem;
    border: solid brown;
    border-radius: 1rem;
}

.item__description{
    color: gold;
    min-height: 70px;
}

.item__price{
    color: gold;
    font-size: 1.3rem;
}

.item__buy{
    text-decoration: none;
    border: solid rgba(0, 0, 0, 0);
    color: gold;
    padding: 1.4rem;
    background-color: brown;
    border-radius: 1rem;
    box-shadow: 5px 5px 20px black;
    margin: auto 0.1rem 0.1rem 0.1rem;
    bottom: 0;
}

.item__buy:hover{
    color: gold;
    padding: 1.4rem;
    margin: 0;
    font-size: 1.1rem;
    background-color: rgb(108, 29, 29);
    border: solid brown;
    border-radius: 1rem;
    box-shadow: 5px 5px 20px black;
    margin-top: auto;
}

@media (max-width: 1230px){
    .items{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width: 930px){
    .items{
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 600px){
    .items{
        grid-template-columns: 1fr;
    }
}