.body {
    margin: 0px;
}
.bodyBackGround{
    background-image: url("images/BackG.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    float: left;
    width: 100%;
    height: 100%;
}

.icon {
margin: auto;
    width: 551px;
    height: 306px;
    overflow: hidden;

}
.title{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 500%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #513D8E;
}
.nav{
    display: flex;
    justify-content: center;
}
.navBar{
    display: flex;
    justify-content: space-between ;
    color: #513D8E;
    align-items: center;
    padding: 0;
    width: 700px;
    flex-wrap: wrap;

}
.navBarItems{
    list-style: none;
    text-decoration: none;
    padding: 0;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}
.musicCard{
    width: 572px;
    height: 254px;
    backdrop-filter: blur(90px);
    background-color: rgb(255, 255, 255);
    margin: auto;
}
.musicCardTitle {
    padding-top: 20px;
    padding-left: 20px;
    color: #513D8E;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}
.musicCardImg {
    width: 83px;
    height: 83px;
    padding-left: 20px;
}
