
/* Opbygning af selve layout af hjemmesiden, inspireret af Steam  */

body{
    background-color:rgb(21, 26, 32);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1,
h3,
p{
    color:lightgray;
}

p{
    padding-bottom: 10px;
}

.taskTitle{
    display: flex;
    justify-content: center;
}

/* Syling af headeren og dens knapper  */

header{
    background-color: rgb(27, 40, 56);
    padding: 20px;
    margin: 0px;
}


.navList{
    padding: 0;
    list-style: none;
    text-decoration: none;
    display: flex;
    gap: 20px;
    justify-content: center;
}

.navLink{
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    color: azure;
    border: solid;
    border-color: rgb(11, 130, 214);
    border-radius: 6px;
    padding: 4px;
}

.navLink:hover{
    border-color: rgb(129, 177, 25);
    background-color: rgba(129, 177, 25, 0.185);
}

.highlight{
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    color: azure;
    border: solid;
    border-color: rgb(165, 103, 226);
    border-radius: 6px;
    padding: 4px;
    background-color: rgba(164, 103, 226, 0.225);

}


/* styling af billeder  */

.discordImg{
    height: 400px;
    width: 800px;
}

.drImg{
    width: 775px;
    height: 154px;
}

.drCode{
    height: auto;
    width: 775px;
}

.portfolier{
    height: auto;
    width: 1455px;
    position:relative;
   left:50%;
   transform:translateX(-50%);
}

.portfolierImg{
    height: auto;
    width: 800px;
    position:relative;
   left:50%;
   transform:translateX(-50%);
}

/* Styling af h3 */

h3{
    padding-top: 30px;
    padding-left: 200px;
}


/* Styling af footer */


footer{
    background-color: rgb(27, 40, 56);
    padding: 20px;
    margin: 0px;
}

/* reflektion i Portfolier opgaven */

.reflektion{
    padding-bottom: 30px;
}

/* ekstra stylings */

img{
    border: solid;
    border-color: rgb(11, 130, 214);
    border-radius: 6px;
    border-width: 4px;
    margin-bottom: 30px;
    position:relative;
    left:50%;
    transform:translateX(-50%);
}


p:not(.footText, .cardText), h1{
    margin-left: 200px;
    margin-right: 200px;
}


.drNyhed, .CSSimg{
    height: auto;
    width: 775px;
}


/*------------------------------------------------------------*/
/* Cards opgave */


/* Alle cards */

.cardTitle{
    color:lightgray;
    text-align: center;
}

.card{
    background-color: rgb(38, 56, 117);
    width: 400px;
    margin-left: 30px;
    min-width: 400px;
    flex-basis: 100%;
    display: flex;
    min-height: 550px;
    max-height: 550px;
    flex-direction: column;
    justify-content: center;
    align-self: flex-start;
    padding-bottom: 50px;
}

.cardText{
    justify-self: center;
    margin-left: 50px;
    margin-right: 50px;
}


.all{
    display: flex;
    margin-top: 40px;
    margin-bottom: 40px;
}

.cardLink{
    color: aqua;
    border: hidden;
    background-color: rgb(59, 113, 95);
    border-radius: 5px;
    align-self: center;
    padding: 10px;
    
}


/* Individuelle cards */

.brast{
    width: 300px;
}

.portal, .mech{
    height: 300px;
    width: 250px;
}

.car, .monster{
    width: 350px;
}