.body {
  background-color: FFF7B2;
}
.header {
  font-family: "Noto Sans", serif;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 10px 10px #fff59f;
}
.title {
  text-decoration: none;
  font-weight: 800;
  color: #7f0019;
  margin: 3rem;
  font-size: 2rem;
  display: inline-block;
}
.nav {
  display: flex;
  flex-direction: row-reverse;
  display: inline-block;
}
.nav__list {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: row;
  gap: 3rem;
}
.nav__link {
  text-decoration: none;
  font-weight: 800;
  color: #7f0019;
}
.nav__link:visited {
  color: #7f0019;
}
.nav__link:hover {
  color: #4e0010;
}
.hero {
  font-family: "Noto Sans", serif;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  margin: 3rem;
  gap: 1rem;
}
.hero__header {
  font-size: 2rem;
  color: #4a4a4a;
}
.hero__header--sub {
  font-size: 1.5rem;
  font-weight: 400;
  color: #818181;
  margin: 2rem;
}
.cards {
  display: grid;
  width: auto;
  gap: 2rem;
  margin: 0 auto;
  max-width: 80%;
  grid-template-columns: repeat(
    auto-fill,
    minmax(20rem, 1fr)
  ); /* Horizontal layout */
  justify-content: center;
}
.card {
  background-color: #ffffff;
  font-family: "Noto Sans", serif;
  padding: 1rem;
  margin-bottom: 3rem;
  width: 20rem;
  height: auto;
  border-radius: 10px;
  align-items: center;
  box-shadow: 0 10px 10px #f1e57b;
}
.card:hover {
  transform: rotate(10deg);
}
.card__image {
  width: 200px;
  height: 200px;
}
.card__header {
  color: #7f0019;
  font-size: 1.3rem;
}
.card__header--sub {
  color: 4A4A4A;
  font-weight: 400;
}

/* iPad Air in Portrait Mode */
@media (min-width: 768px) and (max-width: 1180px) {
  .nav__list {
    display: none;
  }
}
