*{
    margin: 0;
    padding: 0;
}

.start{
    
}

/* Styling of navigation bar */
.navBar{
    background-color: #363636;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 15px 15px;
}

.navBar__logo{
    align-self: center;
    justify-self: center;
}

.navBar__items{
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: end;
    padding: 15px 16px;
    align-items: center;
    gap: 20px;
    color: #D8D8D8;
    animation: fadeInDown 2s;
}

.navBar__item{
    font-family: "Inria Serif";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 8px;
    transition: navItem 0.3s ease, transform 0.3s ease;
}

.navBar__item:hover{
    background-color: #222222;
    border-radius: 6px;
    animation: navItem  linear 300ms alternate;
    transform: scale(1.05);
}



.navBar__link{
    text-decoration: none;
    color: #D8D8D8;
}

/* Styling of hero section */
.hero{
    display: flex;
    background: url(images/headerBg.png);
    color: #FFF;
    text-align: center;
    justify-content: center;
    font-family: "Inria Serif";
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    background-size: 100%;
    padding: 10%;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


.hero__text{
    align-self: center;
    justify-self: center;
    animation: fadeIn 5s;
}

/* Styling of intro text section */
.intro{
    background: #222222 url(images/cutBeef.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.intro:not(.intro__logo){
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 3% 20% 3% 20%;
    }

.intro__logo{
    height: 50%;
    width: 50%;
    align-self: center;
}

.intro__titleText{
    color: #F0F0F0;
    font-family: "Inria Serif";
    font-size: 32px;
    font-style: italic;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 3%;
}

.intro__breadText{
    color: #D8D8D8;
    font-family: "Inria Serif";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 3%;
}

.intro__textEnd{
    color: #ececec;
    font-family: "Inria Serif";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    align-self: center;
}

/* Styling of products section */
.products{
    background: #5f2021;
    color: #D8D8D8;
    font-family: "Inria Serif";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: grid;
    padding: 2%;
    gap: 1rem;
    
    grid-template-columns: repeat(auto-fit, minmax(200px, 450px))
}

/* Styling of individual products */
.product{
    width:70%;
    justify-self: center;
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
    border: solid rgba(0, 0, 255, 0);
    border-radius: 6px;
    padding: 2%;
    transition: border 100ms ease;
}

.product:hover{
    border: solid white;
    transform: scale(1.05);
}


.product__title{
    padding-bottom: 5%;
}

.product__img{
    padding-bottom: 1rem;
    width: 100%;
    border-radius: 2px;
}

.product__buffetList{
    list-style:inside;
    font-size: smaller;
}

.product__Img--fishnchips{
    height: 40%;
    width: 100%;
}

.product__description{
    justify-self: center;
    flex-grow: 1;
}

.product__price{
    grid-column: 2;
    text-decoration: none;
    color: #363636;
    padding: 20px;
    background-color: #D8D8D8;
    border-radius: 6px;
    margin-top: 2rem;
    align-self: center;
    justify-content:center;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.product__price:hover{
    transition: background-color 0.3s ease, transform 0.3s ease;
    transform: scale(1.1);
    background-color: rgb(210, 204, 33);
}

/*---------------------------------------------------*/

/*Footer*/
.info{
    background: #441818e7 url(images/footer__img.png);
    background-size: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.info__content{
    padding: 2%;
    gap: 1rem;
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
}

/*Opening hours*/
.info__timeList{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.info__hoursTitle{
    color: #D8D8D8;
    font-family: "Inria Serif";
    font-size: 24px;
    font-style: italic;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 1rem;
}

.info__weekDays{
    list-style: none;
    color: #D8D8D8;
    font-family: "Inria Serif";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.info__weekDay{
}

.info__openPeriods{
    list-style: none;
    color: #D8D8D8;
    font-family: "Inria Serif";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.info__titleAndDays{
    display: flex;
    flex-direction: row;
}

.info__openPeriod{

}

/*Find us info*/
.info__contact{
    display: flex;
    flex-direction: column;
    grid-column-start: 2;
}

.info__findOs{
    color: #D8D8D8;
    font-family: "Inria Serif";
    font-size: 24px;
    font-style: italic;
    font-weight: 700;
    line-height: normal; 
    margin-bottom: 1rem;
}

.info__findInfo{
    list-style: none;
    color: #D8D8D8;
    font-family: "Inria Serif";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    grid-column: 2;
}

.info__findItem{

}

/*Terms and conditions*/
.info__termsAndRead{
    display: flex;
    flex-direction: column;
}

.info__terms{
    color: #D8D8D8;
    font-family: "Inria Serif";
    font-size: 24px;
    font-style: italic;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 1rem;
}

.info__readMore{
    list-style: none;
    color: #D8D8D8;
    font-family: "Inria Serif";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}