* {
    background-color: #1f1f1f;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
p, h1 {
    display: inline;
    font-size: larger;
    border-bottom-style: solid;
    border-color: white
}
p{
    border-radius: 2px;
}
.redText{
    color: red;
}
span{
    border-style: solid;
    border-color: rgb(92, 190, 190);
}
div{
    text-decoration: wavy underline lime
}