.box {
    width: 300px;
    height: 300px;
    background: lightblue;
    color: black;
    /*
    transition-duration: 1300ms;
    transition-property: background, color, rotate, translate;
    transition-delay: 1s;
    */
    transition: 1300ms background 1s, 1300ms color 1s, 1300ms rotate 1s, 1300ms translate 1s;
}

.box:hover {
    background: darkblue;
    color: white;
    /*transform: translate(300px) rotate(45deg);*/
    /* Ny måde at skrive egenskaberne på: */
    rotate: 45deg;
    translate: 300px;
}

.circle {
    width:300px;
    height: 300px;
    border-radius: 100%;
    background: lightpink;
    animation: 3s ease-in 0s infinite alternate roll;
}
@keyframes roll {
    from {
        translate: 0px;
    }
    to {
        translate: 400px;
    }
}