.body {
    margin: 0px;
    width: 100%;
    scroll-snap-align: center;
}
.bodyBackGround{
    background-image: url("images/BackG.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    float: left;
    width: 100%;
    height: 100%;
}
html {
    scroll-behavior: smooth;
}
.invHeader {
    width: 100%;
    height: 5px;

}


.icon {
    display: flex;
    justify-content: center;
    margin-top: 180px;
    padding: 10px;
}
.jeffIcon{
    display: flex;
    justify-content: center;
    height: 100px;
    width: 100px;

}
.profileIcon {
    display: flex;
    justify-content: flex-start;
    height: 200px;
    position: relative;
}


.theNumber2 {
    height: 200px;
    width: 180px;
    position: absolute;

}


.theNumber2 {
    animation: 2s infinite linear roll;
}

@keyframes roll {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

.title{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 500%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #513D8E;
}
.nav{
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    padding: 20px;
}
.navBar{
    display: flex;
    justify-content: space-between ;
    color: #513D8E;
    align-items: center;
    padding: 0;
    width: 700px;
    flex-wrap: wrap;
    position: sticky;
    top: 0;

}
.navBarItems{
    list-style: none;
    text-decoration: none;
    padding: 0;
    display: flex;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}
.invHeaderMusic{
    margin-top: 200px;
}
.musicCardPage{
    width: 100%;
    height: 600px;
}
.musicCards {
    display: flex;
    gap: 10px;
    margin-top: 500px;
    overflow: hidden;
    justify-content: row; 
    
}
.musicCard{
    width: 572px;
    height: 254px; 
    backdrop-filter: blur(1px);
    background: rgba(255, 251, 251, 0.50); 
    margin: auto;
    overflow: hidden;


}
.musicCardTitle {
    padding-top: 20px;
    padding-left: 20px;
    color: #513D8E;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.musicCardImg {
    width: 83px;
    height: 83px;
    padding-left: 20px;
}
.musicCard1{
    padding-left: 20px;
    
}
.musicCard2{
    padding-left: 20px;
}
.musicCard3{
    padding-left: 20px;

}
.arrowForth{
    width: 5%;
    height: 5%;
}
.arrowBack{
    width: 5%;
    height: 5%;
}
.arrowImg {
    width: 100%;
    height: 100%;
}
.arrows{
    
    margin-bottom: 300px;
}
.vaporCard {
    width: 772px;
    height: 354px;
    flex-shrink: 0;
    background: rgba(255, 251, 251, 0.50);
    backdrop-filter: blur(1px);
    margin: auto;
    margin-bottom: 300px;
}
.vaporCardTit {
    color: #513D8E;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: auto;
    padding: 10px;
    height: 50px;
    width: auto;
    font-size: xx-large;
}
.vaporCardMerch {

    width: 800px;
    height: 350px;
    flex-shrink: 0;
    background: rgba(255, 251, 251, 0.50);
    backdrop-filter: blur(1px);
    margin: auto;
    margin-bottom: 300px;

}
.jeffBookingTit {
    color: #513D8E;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: auto;
    height: 50px;
    width: auto;
    font-size: xx-large;
    display: flex;
    justify-content: center;
    position: absolute;
}

.vaporCardInfo {
    width: 772px;
    height: 354px;
    background: rgba(255, 251, 251, 0.50);
    backdrop-filter: blur(1px);
    margin: auto;
    margin-bottom: 300px;

}
.vaporCardInfoImg{
    width: 120px;
    height: 120px;
    padding-left: 20px;
    
}
.vaporCardTitInfo {
    padding-top: 20px;
    padding-left: 20px;
    color: #513D8E;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 50px;
    width: 100%;
}
.vaporCardInfoContent{
    display: flex;
    width: 620px;
    height: 80px;
    flex-shrink: 0;
}
.infos {
    padding: 20px;

}
.info{
    list-style: none;
    color: #513D8E;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
}

.vaporCardContact {
    width: 772px;
    height: 354px;
    background: rgba(255, 251, 251, 0.50);
    backdrop-filter: blur(1px);
    margin: auto;
    margin-bottom: 300px;

}
.vaporCardContactImg{
    width: 120px;
    height: 120px;
    padding-left: 20px;
    
}
.vaporCardTitContact {
    padding-top: 20px;
    padding-left: 20px;
    color: #513D8E;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 50px;
    width: 100%;
}
.vaporCardContactContent{
    display: flex;
    width: 620px;
    height: 80px;
    flex-shrink: 0;
}

.footer{
    display: flex;
    align-items: center;
    margin: 5px;
    
}
.footerButton {
    border-radius: 15px;
    background: rgba(255, 251, 251, 0.50);
    backdrop-filter: blur(1px);
    padding: 7px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #513D8E;
    font-size: medium;

}
.aboutButton {
    margin-left: 10px;
    

}
.contactButton {
    margin-left: 10px;
}
.copyrightButton {
    margin-left: auto; 
}
.footerBox {
    width: 95%;
    padding: 10px;
}
.navBarItem{
    text-decoration: none;
}
