*{
    font-family: Arial, Helvetica, sans-serif;
}
.businessCards{
    gap: 1em;
}
.businessCard{
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    background-color: #f8d5a7;
    padding: 1em;
    box-shadow: 5px 5px 5px;
    max-width: 40%;
}
.__profileImage{
    border-radius: 100px;
    width: 140px;
    height: 150px;
    float: left;
    box-shadow: 2px 2px 2px black;
    border: solid 1px black;
}
.businessCard .__name{
    font-size: 20px;
    font-weight: bold;
    text-align: start;
    border-bottom: 1px solid rgba(128, 128, 128, 0.355);
}
.businessCard .__contact{
    font-style: normal;
    text-align: start;
}
a{
    color: black;
}